
*.asv
src/radarsim.h
src/radarsimc.dll
/radarsimm*
/.vscode
*.lic
src/+RadarSim/radarsim.h
src/+RadarSim/radarsimc.lib
src/+RadarSim/radarsimc.dll

# Test and coverage reports
/test-results
/code-coverage
